<section class="review">
	<% if user_signed_in? %>
		<%= form_for [review.room, review] do |f| %>
			<% Review::POINTS.each do |point| %>
				<%= f.radio_button :points, point %>
				<%= f.label :points, point, value: point %>
			<% end %>
			
			<%= f.submit %>
		<% end %>
	<% else %>
  <%= link_to t('.login_to_review'), new_user_sessions_path ,
              :class => 'login_required btn btn-success btn-small' %>
	<% end %>
</section>